<article class="comment">
    <header>
        <p>
            {{- 'blog.core.post.comment.on' | trans }} <time datetime=" {{ comment.createdAt | date('c') }}">{{ comment.createdAt | date }}</time>
            |
            {{ 'blog.core.post.comment.by' | trans }}: {{ comment.authorName | title -}}
        </p>
    </header>
    <div class="comment-edit-wraper">
        <p>{{ comment.body | nl2br }}</p>
        {% if is_granted('EDIT', comment) %}
        <a class="comment-edit-link" href="{{ path('blog_core_comment_edit',{id: comment.id }) }}">{{ 'blog.core.comment.edit' | trans }}</a>
        {% endif %}
    </div>
</article>
