{% extends "CoreBundle::layout.html.twig" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block sidebar %}
    <aside>
        <h3>{{ "blog.core.author" | trans }}</h3>
        <p><a href="{{ path('author_show', {slug:post.author.slug}) }}" title="{{ 'blog.core.post.by%name%' | trans({'%name%': post.author.name }) }}">{{ post.author.name }}</a></p>
    </aside>
{% endblock %}

{% block section %}
    <article class="post">
        <header>
            <h1>{{ post.title }}</h1>
            <p>
                {{ "blog.core.post.on" | trans }}<time datetime="{{ post.createdAt | date('c') }}">{{ post.createdAt | date }}</time>
            </p>
        </header>
        <p>
            {{ post.body | nl2br }}
        </p>

    </article>
    {% if bundle_resolver.bundleIsset('comment') %}
        <div class="comment-wraper">
            {{ comments_show( post ) }}
        </div>
    {% endif %}
{% endblock %}
