{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/main.css') }}"
{% endblock %}

{% block body %}
    <header>
        <p>{{ 'blog.core.title' | trans }}</p>
        <nav>
            <ul>
                <li><a href="{{ path('main_index') }}">{{ 'blog.core.home' | trans }}</a></li>
            </ul>
        </nav>
        <ul id="language_selector">
            {% for locale in avaible_locale %}
                {% if( locale != app.request.locale ) %}
                    <li>
                        <a href="{{ path( app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': locale}) ) }}">
                            {{ locale | trans }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </header>
    {% block sidebar %}{% endblock%}
    <section>
        {% block section %}{% endblock %}
    </section>

    <footer>
        <p>&copy;{{ 'now' | date('Y') }} {{ 'blog.core.title' | trans }}</p>
    </footer>

{% endblock %}